$primary: #666666;
$secondary: #170B3B;
$success: #009B00;
$info: #0073C4;
$warning: #F28500;
$danger: #6e0b10;
$light: #F1F0F0;
$dark: #252424;

@import '/node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Eater&family=Philosopher:wght@400;700&family=Rock+Salt&display=swap');

* {
  cursor: none !important;
}

body {
  font-size: 1.2em;
  font-family: 'Philosopher', cursive;
  min-height: 100vh;
  background-color: $dark;
  background-image: url('/assets/images/background/tc.png');
  background-size: 360px 270px;
  background-position: center top;
  background-repeat: no-repeat;
}

a:active,
a:focus,
a:hover {
  color: $light !important;
}

#answer {
  transition: opacity 3s;
  word-wrap: break-word;
}

.cover {
  min-height: 96vh;
}

@media only screen and (max-width: 576px) {
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
  body {
    background-image: 
      url('/assets/images/background/tc.png'), 
      url('/assets/images/background/tl.png'), 
      url('/assets/images/background/tr.png'),
      url('/assets/images/background/bl.png'),
      url('/assets/images/background/br.png')
    ;
    background-size: 360px 270px, 350px 500px, 350px 500px, 400px 150px, 400px 150px;
    background-position: center top, left top, right top, bottom left, bottom right;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  }
}

@media only screen and (min-width: 992px) {
}
